html {
	position: relative;
}

body {
	margin-bottom: 120px;/*samain dengan footer nya supaya dibawah*/
	margin-top: 30px;
}

.jumbotron img{
	width: 200px;
	border: 5px solid #666;
} 

hr{
	width: 250px;
	border-top:  3px solid #999; 
}

section {
	min-height: 600px;
}

.portfolio {
	background-color: #eee;
}

.contact {
	min-height: 800px; /* memberikan jarak antar contact dan footer */
}

.footer {
	position: absolute;
	bottom: 0; 
	height: 120px;
	width: 100%;
	background-color: #333;
	padding-top: 30px;
}

.footer p{
	color: #aaa;
	font-size: 1em;

}

.footer i{
	color: salmon;
}

/*membuat transparan*/
/*.navbar {
	opacity: .3;
}*/