  <!-- footer -->
  <div class="footer" id="footer">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12">
        <p>&copy; copyright 17 | built with <i class="glyphicon glyphicon-heart"></i> by. <a href="http://intagram.com/elfinsajaya12">Elfin Sanjaya</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a href="http://youtube.com/elfinsajaya12" class="btn btn-danger"><i class="glyphicon glyphicon-play"></i> Subscribe to Youtube </a>
      </div>
    </div>
  </div>
  </div>
  <!-- akhir footer -->

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- <script src="js/script.js"></script> -->
</body>
</html>