<nav class="navbar navbar-expand-sm bg-light">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/kontak">Kontak</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/success-page">Puccess-Page</a>
    </li>
  </ul>
</nav>
