  <!-- contact -->
  <section class="contact" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2>Contact</h2>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <form action="">
            <div class="form-group">
              <label for="nama" class="">Nama</label>
              <input type="text" id="nama" class="form-control" placeholder="Masukan Nama">
            </div>
            
            <div class="form-group">
              <label for="email" class="">Email</label>
              <input type="email" id="nama" class="form-control" placeholder="Masukan Email">
            </div>
            
            <div class="form-group">
              <label for="telp" class="">Telpon</label>
              <input type="tel" id="nama" class="form-control" placeholder="Masukan Telpon">
            </div>
            
            <select class="form-control">
              <option value="">-- Choose Category --</option>
              <option value="">Web Design</option>          
              <option value="">Web Development </option>          
            </select>
            
            <div class="form-group">
              <label for="">Pesan</label>
            <textarea  rows="10" class="form-control"></textarea>    
            </div>

            <button class="btn btn-primary">
              Kirim Pesan
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- akhircontact -->
