<!DOCTYPE html>
<html lang="en" id="home">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=devide-width, initial-scale=1">

  <title>Success Page</title>

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
   
</head>
<body>
	<div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2>Success Page</h2>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
       <h1>saya adalah <%= data.nama %> saya memiliki email <%= data.email%> teman-teman bisa menghubungi saya dengan nomor telepon saya <%= data.telpon %></h1>
   		</div>
	 </div>
  	</div>
</body>
</html>